
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif,monospace;
}
.header{
    height: 50px;
    display: flex;
    justify-content: space-between; 
    background:#97e1d4;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
}
.nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding:10px;
   
}
.log{
    width:20px; height:15px;
}

.banner{
    height: 85vh;
    background-image: url(./banner.jpg);
    background-size:cover;
     background-position: center bottom;
    
     
}
.logo{
    width: 130px;
}
.app{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.click{
    border-radius: 25px;
    background: #14c1cb;
    padding: 10px 15px;
    margin: 10px auto 20px;
    position: relative;
    text-transform: uppercase;
    width: 110px;
    color: #fff;
    text-decoration: none;
}

.sp{
    width: 110px;
}
.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}


.deta{
    line-height:1.5;
    width: 50%;
   margin: 10px auto 30px;
}
.all{
    position: absolute;
    margin: 30px auto ;
    width: 100%;
    top: 120px;
}
.section h3{
    margin: 80px 0 30px;
    text-align: center;
}
.section1{
    display: flex;
    height: 350px;
}
.left{
 
    text-align: center;
    
}
.left .right{
    flex: 1;
}











